{% extends 'base.html' %}

{% block content %}

<!-- top tiles -->
{% if request.user.is_superuser %}
<div class="row tile_count">

    <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
        <div class="left"></div>
        <!--<a href="{% url 'portal:aluno' %} ">-->
        <!--<div class="right">-->
        <!--<span class="count_top"><i class="fa fa-user"></i> Aluno(s)</span>-->
        <!--<div class="count">{{ totAlunos }}</div>-->
        <!--&lt;!&ndash;<span class="count_bottom"><i class="green">4% </i> From last Week</span>&ndash;&gt;-->
        <!--</div>-->
        <!--</a>-->

    </div>

    <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
        <!--<div class="left"></div>-->
        <!--<a href="{% url 'portal:aluno' %} ">-->
        <!--<div class="right">-->
        <!--<span class="count_top"><i class="fa fa-user"></i> Aluno(s)</span>-->
        <!--<div class="count">{{ totAlunos }}</div>-->
        <!--&lt;!&ndash;<span class="count_bottom"><i class="green">4% </i> From last Week</span>&ndash;&gt;-->
        <!--</div>-->
        <!--</a>-->

    </div>

    <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
        <!--<div class="left"></div>-->
        <!--<a href="{% url 'portal:aluno' %} ">-->
        <!--<div class="right">-->
        <!--<span class="count_top"><i class="fa fa-user"></i> Aluno(s)</span>-->
        <!--<div class="count">{{ totAlunos }}</div>-->
        <!--&lt;!&ndash;<span class="count_bottom"><i class="green">4% </i> From last Week</span>&ndash;&gt;-->
        <!--</div>-->
        <!--</a>-->

    </div>
    <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
        <div class="left"></div>
        <a href="{% url 'portal:responsavel' %} ">
            <div class="right">
                <span class="count_top"><i class="fa fa-user"></i> Responsável(s)</span>
                <div class="count">{{ totResponsavel }}</div>
                <!--<span class="count_bottom"><i class="green">4% </i> From last Week</span>-->
            </div>
        </a>

    </div>

    <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
        <div class="left"></div>
        <a href="{% url 'portal:aluno' %} ">
            <div class="right">
                <span class="count_top"><i class="fa fa-user"></i> Aluno(s)</span>
                <div class="count">{{ totAlunos }}</div>
                <!--<span class="count_bottom"><i class="green">4% </i> From last Week</span>-->
            </div>
        </a>

    </div>

    <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
        <div class="left"></div>
        <a href="{% url 'portal:professor' %} ">
            <div class="right">
                <span class="count_top"><i class="fa fa-user"></i> Professores </span>
                <div class="count">{{ totProfessor }}</div>
                <!--<span class="count_bottom"><i class="green">4% </i> From last Week</span>-->
            </div>
        </a>

    </div>


    <!--<div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">-->
    <!--<div class="left"></div>-->
    <!--&lt;!&ndash;<a href="{% url 'portal:responsavel' %} ">&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="right">&ndash;&gt;-->
    <!--&lt;!&ndash;<span class="count_top"><i class="fa fa-user"></i> Responsável </span>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="count">{{ totResponsavel }}</div>&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;<span class="count_bottom"><i class="green">4% </i> From last Week</span>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</a>&ndash;&gt;-->

    <!--</div>-->
    <!--<div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">-->
    <!--<div class="left"></div>-->
    <!--</div>-->

</div>
{% endif %}


<div class="x_panel">
    <div class="x_content">
        <div class="x_title">
            {% if request.user.is_superuser %}
            <h2> Olá {{ request.user.first_name }} {{ request.user.last_name }} , Seja Bem Vindo ao Portal ABC Mobile. <small></small></h2>
            {% else %}
            <h2> Olá {{ request.user.first_name }}. <small></small></h2>
            {% endif %}

            <!--<ul class="nav navbar-right panel_toolbox">-->
            <!--<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>-->
            <!--</li>-->
            <!--<li class="dropdown">-->
            <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>-->

            <!--</li>-->
            <!--<li><a class="close-link"><i class="fa fa-close"></i></a>-->
            <!--</li>-->
            <!--</ul>-->

            <div class="clearfix"></div>
        </div>

        {% if instituicao %}

        {% for reginstituicao in instituicao %}

        <div class="x_panel" >
            <div class="x_title">
                <h2> Instituição <small></small></h2>

                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>

                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>

                <div class="clearfix"></div>
            </div>

            <div class="x_content">

                <div class="col-md-3 col-sm-3 col-xs-12 profile_left">

                    <div class="profile_img">

                        <!-- end of image cropping -->
                        <div id="crop-avatar">
                            <!-- Current avatar -->
                            <div class="avatar-view" title="Alterar Foto"  onclick="UploadFoto();" >

                                <img src="/media/{{ reginstituicao.imagem }}" id="imagem" alt="Avatar">

                            </div>

                            <!-- Cropping modal -->
                            <div class="modal fade" id="avatar-modal" aria-hidden="true" aria-labelledby="avatar-modal-label" role="dialog" tabindex="-1">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <form class="avatar-form" action="crop.php" enctype="multipart/form-data" method="post">
                                            <div class="modal-header">
                                                <button class="close" data-dismiss="modal" type="button">&times;</button>
                                                <h4 class="modal-title" id="avatar-modal-label">Change Avatar</h4>
                                            </div>
                                            <div class="modal-body">
                                                <div class="avatar-body">

                                                    <!-- Upload image and data -->
                                                    <div class="avatar-upload">
                                                        <input class="avatar-src" name="avatar_src" type="hidden">
                                                        <input class="avatar-data" name="avatar_data" type="hidden">
                                                        <label for="avatarInput">Local upload</label>
                                                        <input class="avatar-input" id="avatarInput" name="avatar_file" type="file">
                                                    </div>

                                                    <!-- Crop and preview -->
                                                    <div class="row">
                                                        <div class="col-md-9">
                                                            <div class="avatar-wrapper"></div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="avatar-preview preview-lg"></div>
                                                            <div class="avatar-preview preview-md"></div>
                                                            <div class="avatar-preview preview-sm"></div>
                                                        </div>
                                                    </div>

                                                    <div class="row avatar-btns">
                                                        <div class="col-md-9">
                                                            <div class="btn-group">
                                                                <button class="btn btn-primary" data-method="rotate" data-option="-90" type="button" title="Rotate -90 degrees">Rotate Left</button>
                                                                <button class="btn btn-primary" data-method="rotate" data-option="-15" type="button">-15deg</button>
                                                                <button class="btn btn-primary" data-method="rotate" data-option="-30" type="button">-30deg</button>
                                                                <button class="btn btn-primary" data-method="rotate" data-option="-45" type="button">-45deg</button>
                                                            </div>
                                                            <div class="btn-group">
                                                                <button class="btn btn-primary" data-method="rotate" data-option="90" type="button" title="Rotate 90 degrees">Rotate Right</button>
                                                                <button class="btn btn-primary" data-method="rotate" data-option="15" type="button">15deg</button>
                                                                <button class="btn btn-primary" data-method="rotate" data-option="30" type="button">30deg</button>
                                                                <button class="btn btn-primary" data-method="rotate" data-option="45" type="button">45deg</button>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <button class="btn btn-primary btn-block avatar-save" type="submit">Done</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- <div class="modal-footer">
                                                              <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
                                                            </div> -->
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- /.modal -->

                            <!-- Loading state -->
                            <div class="loading" aria-label="Loading" role="img" tabindex="-1"></div>
                        </div>
                        <!-- end of image cropping -->

                    </div>
                    <ul class="list-unstyled user_data">
                    </ul>
                    <ul class="list-unstyled user_data">

                    </ul>

                    <!--<ul class="list-unstyled user_data">-->

                    <!--<li><i class="fa fa-map-marker user-profile-icon"></i> Cidade {{ reginstituicao.cidade }}, BRASIL-->
                    <!--</li>-->

                    <!--</ul>-->

                    {% if request.user.is_superuser %}

                    <a href="{% url 'portal:instituicao_edit' pk=reginstituicao.pk %}" >
                        <button type="submit" class="btn btn-success btn-block"> <i class="fa fa-edit m-right-xs"></i> Alterar </button>
                    </a>
                    <br />

                    {% endif %}

                    <!-- start skills -->
                    <!-- end of skills -->

                </div>

                <div class="fa user-profile-icon">
                    <h3> <b> <i>  {{ reginstituicao.nomefantasia }} ( {{ reginstituicao.razaosocial }} )</i> </b> </h3>

                </div>

                <div class="fa user-profile-icon col-md-5">
                    <h4> <b>  CNPJ: {{ reginstituicao.cgc }}   </b></h4>

                </div>

                <div class="fa user-profile-icon col-md-4">
                    <h4> <b>  INSC. ESTADUAL: {{ reginstituicao.inscestadual }}  </b></h4>

                </div>

                <div class="fa user-profile-icon col-md-3">
                    <h4> <b>    TELEFONE: {{ reginstituicao.telefone }}    </b></h4>
                </div>

                <div class="fa user-profile-icon col-md-3">
                    <h4> <b>  TELEFAX: {{ reginstituicao.telefax }} </b></h4>
                </div>

                <div class="fa user-profile-icon col-md-6">
                    <h4> <b>   E-MAIL: {{ reginstituicao.email }}  </b></h4>
                </div>

                <hr>

                <div class="fa user-profile-icon col-md-6">
                    <h4> <b>   ENDEREÇO: {{ reginstituicao.endereco }} , COMPLEMENTO:{{ reginstituicao.complemento }}  </b></h4>
                </div>


                <div class="fa user-profile-icon col-md-4">
                    <h4> <b>   BAIRRO: {{ reginstituicao.bairro }}   </b></h4>
                </div>

                <div class="fa user-profile-icon col-md-2">
                    <h4> <b>  CEP: {{ reginstituicao.cep }} </b></h4>
                </div>

                <div class="fa user-profile-icon col-md-3">
                    <h4> <b>   CIDADE: {{ reginstituicao.cidade }}  </b></h4>
                </div>

            </div>
            <!-- Fim Teste -->
        </div>

        <!-- Começou aqui - Aluno ! -->

        <div class="x_panel" >
            <div class="x_title">
                <h2> Galeria de Alunos <small></small></h2>

                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>

                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>

                <div class="clearfix"></div>
            </div>



            <div class="x_content" >
                <table id="datatable-buttons" class="table table-striped table-bordered center"  >

                    <thead>

                    <tr>
                        <th>Foto</th>
                        <th>Nome</th>
                        <th>E-mail</th>
                        <th>Celular</th>
                        <th>Whatsapp</th>
                        <th>Ação</th>
                        <!--s-->

                    </tr>

                    </thead>

                    <tbody>

                    {% for regAlunos in alunos %}

                    <tr>
                        <td>

                            <a href="{% url 'portal:form_aluno' pk=regAlunos.pk %}">

                                <img style="width: 100%; display: block;" src="/media/{{ regAlunos.imagem }}" alt="image">

                            </a>


                        </td>

                        <td class="col-md-4"> {{ regAlunos.nome }}     </td>
                        <td class="col-md-3"> {{ regAlunos.email }}    </td>
                        <td class="col-md-3"> {{ regAlunos.celular }}  </td>
                        <td class="col-md-3"> {{ regAlunos.whatsapp }} </td>

                       <td>
                        <a href="{% url 'portal:form_aluno' pk=regAlunos.pk %}">
                        <button class="btn btn-success btn-sm" title="Visualizar Dados"><i class="glyphicon glyphicon-search"></i>  </button>
                        </a>

                        </td>


                    </tr>

                    {% endfor %}

                    </tbody>


                </table>

            </div>
        </div>

        <!-- Terminou Aqui - Aluno -->

        <!-- Começou aqui - Professor ! -->

        <!--<div class="x_panel" >-->
        <!--<div class="x_title">-->
        <!--<h2> Galeria de Professor <small></small></h2>-->

        <!--<ul class="nav navbar-right panel_toolbox">-->
        <!--<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>-->
        <!--</li>-->
        <!--<li class="dropdown">-->
        <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>-->

        <!--</li>-->
        <!--<li><a class="close-link"><i class="fa fa-close"></i></a>-->
        <!--</li>-->
        <!--</ul>-->

        <!--<div class="clearfix"></div>-->
        <!--</div>-->



        <!--<div class="x_content" >-->
        <!--<table id="datatable-buttons1" class="table table-striped table-bordered center"  >-->

        <!--<thead>-->

        <!--<tr>-->
        <!--<th>Foto</th>-->
        <!--<th>Nome</th>-->
        <!--<th>E-mail</th>-->
        <!--<th>Celular</th>-->
        <!--<th>Whatsapp</th>-->
        <!--&lt;!&ndash;s&ndash;&gt;-->

        <!--</tr>-->

        <!--</thead>-->

        <!--<tbody>-->

        <!--{% for regProfessores in professores %}-->

        <!--<tr>-->

        <!--<td>-->

        <!--&lt;!&ndash;<div class="thumbnail">&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="image view view-first">&ndash;&gt;-->
        <!--&lt;!&ndash;<img style="width: 100%; display: block;" src="images/4.jpg" alt="image" />&ndash;&gt;-->
        <!--<a href="{% url 'portal:form_professor' pk=regProfessores.pk %}">-->
        <!--<img style="width: 100%; display: block;" src="/media/{{ regProfessores.imagem }}" alt="image">-->
        <!--</a>-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->


        <!--</td>-->

        <!--<td class="col-md-4">-->
        <!--{{ regProfessores.nome }}-->
        <!--</td>-->

        <!--<td class="col-md-3">-->
        <!--{{ regProfessores.email }}-->
        <!--</td>-->

        <!--<td class="col-md-3">-->
        <!--{{ regProfessores.celular }}-->
        <!--</td>-->

        <!--<td class="col-md-3">-->
        <!--{{ regProfessores.whatsapp }}-->
        <!--</td>-->




        <!--</td>-->



        <!--</tr>-->
        <!--{% endfor %}-->

        <!--</tbody>-->


        <!--</table>-->

        <!--</div>-->
        <!--</div>-->




        <!-- Terminou Aqui - Professor -->


        {% endfor %}

        {% else %}

        <!--<div class="alert alert-danger fade in">-->
        <!--<button data-dismiss="alert" class="close close-sm" type="button"> &times; </button>-->

        <!--<strong>ESSE É O SEU PRIMEIRO ACESSO AO SISTEMA. FAVOR REALIZAR OS PROCEDIMENTOS ABAIXO:</strong>-->
        <!--<BR>-->
        <!--<BR>-->
        <!--<strong> INFORMAR DADOS DA INSTITUÇÃO, CLIQUE <a href="{% url 'portal:instituicao_new' %}"> AQUI </a> !</strong>-->
        <!--<br>-->
        <!--<strong> INFORMAR DADOS DO PERÍODO LETIVO, CLIQUE <a href="{% url 'portal:periodoletivo_new' %}"> AQUI </a> !</strong>-->
        <!--<br>-->

        <!--{% if totAlunos == 0 %}-->
        <!--<strong> IMPORTAR DADOS DO ALUNO, CLIQUE <a href="{% url 'portal:instituicao_new' %}"> AQUI </a> !</strong>-->
        <!--<br>-->
        <!--{% endif %}-->

        <!--{% if totProfessor == 0 %}-->
        <!--<strong>IMPORTAR DADOS DO PROFESSOR, CLIQUE <a href="{% url 'portal:importacao_csv' pk=0 %}"> AQUI </a> !</strong>-->
        <!--<br>-->
        <!--{% endif %}-->

        <!--{% if totResponsavel == 0 %}-->
        <!--<strong>IMPORTAR DADOS DO RESPONSAVEL, CLIQUE  <a href="{% url 'portal:importacao_csv' pk=0 %}"> AQUI </a> !</strong>-->
        <!--<br>-->
        <!--{% endif %}-->
        <!--</div>-->

        {% endif %}
    </div>

</div>

{% endblock %}