{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>ABC Mobile</title>

  <!-- Bootstrap core CSS -->

  <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

  <link href="{% static "fonts/css/font-awesome.min.css" %}" rel="stylesheet">
  <link href="{% static "css/animate.min.css" %}" rel="stylesheet">

  <!-- Custom styling plus plugins -->
  <link href="{% static "css/custom.css" %}" rel="stylesheet">
  <link href="{% static "css/icheck/flat/green.css" %}" rel="stylesheet">


  <script src="{% static "js/jquery.min.js" %}"></script>

  <!--[if lt IE 9]>
  <script src="../assets/js/ie8-responsive-file-warning.js" %}"></script>
  <![endif]-->

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>

<body style="background:#F7F7F7;">
<div id="wrapper">
  <div id="login" class="animate form">

    <section class="login_content">
      <img src="{% static "images/lg_abcmobile.png" %}" />
      <form class="form-signin" action="{% url 'portal:login' %}" method="post">
        {% csrf_token %}
        <h1>Acesso Restrito</h1>
        <div>
          <input type="text" name="username" class="form-control" placeholder="Usuário" required="" />
        </div>
        <div>
          <input type="password" name="password" class="form-control" placeholder="Senha" required="" />
        </div>
        <div>
          <button class="btn btn-default submit" type="submit">Acessar</button>

          <a class="reset_pass" href="#">Relembrar Senha ?</a>
        </div>
        <div class="clearfix"></div>
        <div class="separator">

          <p class="change_link">Novo no Site e
            <a href="{% url 'portal:usuario_new' %}" class="to_register"> Deseja Criar Conta ? </a> <br>
            <!--<a href="#toregister" class="to_register"> Entre em contato conosco </a>-->


          </p>
          <div class="clearfix"></div>
          <br />
          <div>
            <h1><!--i class="fa fa-paw" style="font-size: 26px;"--><!--/i--> ABC MOBILE!</h1>

            <p>©2017 Todos os direitos reservados. ABC Mobile!</p>
          </div>
        </div>
      </form>
      <!-- form -->
    </section>
    <!-- content -->
  </div>
  <div id="register" class="animate form">
    <section class="login_content">
      <form>
        <h1>Create Account</h1>
        <div>
          <input type="text" class="form-control" placeholder="Username" required="" />
        </div>
        <div>
          <input type="email" class="form-control" placeholder="Email" required="" />
        </div>
        <div>
          <input type="password" class="form-control" placeholder="Password" required="" />
        </div>
        <div>
          <a class="btn btn-default submit" href="index.html">Submit</a>
        </div>
        <div class="clearfix"></div>
        <div class="separator">

          <p class="change_link">Already a member ?
            <a href="#tologin" class="to_register"> Log in </a>
          </p>
          <div class="clearfix"></div>
          <br />
          <div>
            <h1><i class="fa fa-paw" style="font-size: 26px;"></i> Gentelella Alela!</h1>

            <p>©2015 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>
          </div>
        </div>
      </form>
      <!-- form -->
    </section>
    <!-- content -->
  </div>
</div>

<div class="">
  <!--<a class="hiddenanchor" id="toregister"></a>-->
  <!--<a class="hiddenanchor" id="tologin"></a>-->

</div>

</body>

</html>
