{% extends 'base.html' %}

{% block content %}

<div class="col-md-12 col-sm-12 col-xs-12">
	<div class="x_panel">
		<div class="x_title">
			<h2>Período Letivo <small></small></h2>

			<ul class="nav navbar-right panel_toolbox">
				<li>
					<div class="text-center">
						<a href="{%  url 'portal:periodoletivo_new'  %}">
							<button class="btn btn-success "><i class="glyphicon glyphicon-pencil"></i> Incluir </button>
						</a>
					</div>
				</li>
		
			</ul>
			<div class="clearfix"></div>
		</div>


		<div class="x_content">

			<table id="datatable-buttons" class="table table-striped table-bordered">
				<thead>
				<tr>
					<th width="25%">Codigo</th>
					<th width="20%">Descrição do Período</th>
					<th width="15%">Dias Letivos</th>
					<th width="20%">Calendário</th>
					<th width="5%"> Ação </th>

				</tr>
				</thead>


				<tbody>
				{% for reg in periodoletivo %}

				<tr>
					<td>{{ reg.codigo  }}</td>
					<td>{{ reg.descricao  }}</td>
					<td>{{ reg.diasletivos  }}</td>
					<td>{{ reg.calendario  }}</td>
					<td>
						<a href="{% url 'portal:periodoletivo_edit' pk=reg.pk %}">
							<button class="btn btn-success btn-sm"><i class="glyphicon glyphicon-search"></i> Visualizar </button>
						</a>


					</td>

				</tr>
				{% endfor %}
				</tbody>
			</table>


		</div>
	</div>
</div>


{% endblock %}